In [ ]:
!pip install selenium

In [ ]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver

In [ ]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [ ]:
# 1) programme programme to scrape the Data Analyst job position from Naukri.com

In [ ]:
driver.get('https://www.naukri.com/')

In [ ]:
sj = driver.find_element_by_id('qsb-keyword-sugg')
sj.send_keys('Data Analyst')
jl = driver.find_element_by_xpath('//input[@id = "qsb-location-sugg"]')
jl.send_keys('Banglore')

In [ ]:
sb = driver.find_element_by_xpath('//button[@class = "btn"]')
sb.click()

In [ ]:
url = 'https://www.naukri.com/data-analyst-data-analyst-jobs-in-banglore?k=data%20analyst%2C%20data%20analyst&l=banglore'

In [13]:
driver.get(url)

In [14]:
Jt = []
Jl = []
cn = []
ex = []

In [15]:
jt1 = driver.find_elements_by_xpath('//a[@class ="title fw500 ellipsis"]')
for data in jt1:
    jt2 =data.text
    Jt.append(jt2)
Jt[0:10]

<ipython-input-15-4109923f78b6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  jt1 = driver.find_elements_by_xpath('//a[@class ="title fw500 ellipsis"]')

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Data Analyst / Engineer',
 'Lead - Data Analyst - Leading US MNC',
 'Senior Data Analyst',
 'Data Analyst I - Analytics Reporting',
 'Data Analyst',
 'Data Quality Analyst',
 'Looking For Data Analyst For Oneindia, Bangalore',
 'Marketing Data Analyst',
 'Analyst / Sr Analyst Data Quality Automation']

In [17]:
jl1 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
for data in jl1:
    jl2 = data.text
    Jl.append(jl2)
Jl[0:10]

<ipython-input-17-c2be71d930b3>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  jl1 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')

['Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Mumbai (All Areas)']

In [18]:
cn1 = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
for data in cn1:
    cn2 = data.text
    cn.append(cn2)
cn[0:10]

<ipython-input-18-026a8066377f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  cn1 = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')

['Flipkart',
 'Animaker India Private Limited',
 'EVOLVE TECHNOLOGIES AND SERVICES PRIVATE LIMITED',
 'Flipkart',
 'SKILL-LYNC',
 'HackerEarth',
 'Twilio',
 'Greynium Information Technologies',
 'Qliktech',
 'EVERSANA INDIA PRIVATE LIMITED']

In [19]:
ex1 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')
for data in ex1:
    ex2 = data.text
    ex.append(ex2)
ex[0:10]

<ipython-input-19-7ef244f79de6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ex1 = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')

['1-6 Yrs',
 '4-9 Yrs',
 '6-11 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '1-3 Yrs']

In [20]:
df = pd.DataFrame({'Job_title' : Jt[0:10], 'Job_Location' : Jl[0:10] , 'Company_Name' : cn[0:10] , 'Experience' : ex[0:10]})
df

,Job_title,Job_Location,Company_Name,Experience
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
1,Data Analyst / Engineer,"Chennai, Bangalore/Bengaluru",Animaker India Private Limited,4-9 Yrs
2,Lead - Data Analyst - Leading US MNC,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",EVOLVE TECHNOLOGIES AND SERVICES PRIVATE LIMITED,6-11 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
4,Data Analyst I - Analytics Reporting,Bangalore/Bengaluru,SKILL-LYNC,1-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,HackerEarth,1-3 Yrs
6,Data Quality Analyst,Bangalore/Bengaluru,Twilio,3-8 Yrs
7,"Looking For Data Analyst For Oneindia, Bangalore",Bangalore/Bengaluru,Greynium Information Technologies,4-8 Yrs
8,Marketing Data Analyst,Bangalore/Bengaluru,Qliktech,2-7 Yrs
9,Analyst / Sr Analyst Data Quality Automation,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",EVERSANA INDIA PRIVATE LIMITED,1-3 Yrs

In [ ]:
# 2) programme programme to scrape the Data scientist job position from Naukri.com

In [21]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-21-2e5b3dc4a2f5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [22]:
driver.get('https://www.naukri.com/')

In [23]:
sj = driver.find_element_by_id('qsb-keyword-sugg')
sj.send_keys('Data scientist')
jl = driver.find_element_by_xpath('//input[@id = "qsb-location-sugg"]')
jl.send_keys('Banglore')

<ipython-input-23-f27f572baa41>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sj = driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-23-f27f572baa41>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  jl = driver.find_element_by_xpath('//input[@id = "qsb-location-sugg"]')

In [24]:
sb = driver.find_element_by_xpath('//button[@class = "btn"]')
sb.click()

<ipython-input-24-07fee46c6672>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sb = driver.find_element_by_xpath('//button[@class = "btn"]')

In [25]:
url = 'https://www.naukri.com/data-scientist-jobs-in-banglore?k=data%20scientist&l=banglore'

In [26]:
driver.get(url)

In [28]:
j_t = []
j_l = []
c_n = []

In [29]:
titles = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
for data in titles:
    tit = data.text
    j_t.append(tit)
j_t[0:10]

<ipython-input-29-adf687b53294>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')

['Lead / Principal Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Immediate hiring For Senior Data Scientist - AI',
 'Senior Data Scientist',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist',
 'Job Opportunities For AI/ML Data Scientists - Cyient Ltd',
 'Data Scientist',
 'Sr. Associate Consultant Data Scientist',
 'Senior Engineer - AIML - Data Scientist']

In [30]:
loc = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
for data in loc:
    l = data.text
    j_l.append(l)
j_l[0:10]

<ipython-input-30-045b7283e949>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')

['Mumbai, Hyderabad/Secunderabad, Pune, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [31]:
com = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
for data in com:
    c = data.text
    c_n.append(c)
c_n[0:10]

<ipython-input-31-f16a19101e3c>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  com = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')

['Aviso Inc',
 'IBM India Pvt. Limited',
 'MerchantRMS (A Unitof WINTLT TECHNOLOGIES PVT LTD)',
 'Visa',
 'Samya.AI A FRACTAL Entity',
 'Hinduja Global Solutions Limited',
 'Cyient',
 'Snaphunt',
 'Eli Lilly and Company',
 'Unisys']

In [32]:
df = pd.DataFrame({'Job_title' : j_t[0:10] , 'Job_Location' : j_l[0:10] , 'Company_Name' : c_n[0:10]})
df

,Job_title,Job_Location,Company_Name
0,Lead / Principal Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Delhi / ...",Aviso Inc
1,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited
2,Immediate hiring For Senior Data Scientist - AI,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",MerchantRMS (A Unitof WINTLT TECHNOLOGIES PVT ...
3,Senior Data Scientist,Bangalore/Bengaluru,Visa
4,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
5,Data Scientist,Bangalore/Bengaluru,Hinduja Global Solutions Limited
6,Job Opportunities For AI/ML Data Scientists - ...,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Cyient
7,Data Scientist,Bangalore/Bengaluru,Snaphunt
8,Sr. Associate Consultant Data Scientist,Bangalore/Bengaluru,Eli Lilly and Company
9,Senior Engineer - AIML - Data Scientist,Bangalore/Bengaluru,Unisys

In [ ]:
# 3) programme to scrape the job titles from naukri.com with the salary 3 - 6 LPA in Delhi NCR location

In [33]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-33-2e5b3dc4a2f5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [34]:
driver.get('https://www.naukri.com/')

In [35]:
sj = driver.find_element_by_id('qsb-keyword-sugg')
sj.send_keys('Data scientist')

<ipython-input-35-f30bce9eea2e>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sj = driver.find_element_by_id('qsb-keyword-sugg')

In [36]:
sb = driver.find_element_by_xpath('//button[@class = "btn"]')
sb.click()

<ipython-input-36-07fee46c6672>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sb = driver.find_element_by_xpath('//button[@class = "btn"]')

In [ ]:
jl = driver.find_elements_by_xpath('//input[@id = "chk-Remote-cityTypeGid-"]')
js = driver.find_elements_by_xpath('//i[@class = "naukicon naukicon-arrow grey-text icon-16"]')

In [38]:
j_title = []
j_loc = []
c_name = []
exp_req = []

In [39]:
titl = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
for data in titl:
    ti = data.text
    j_title.append(ti)
j_title[0:10]

<ipython-input-39-9fbe9ffd3fa4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titl = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')

['Ethics and Compliance Business Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Data Scientist',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Senior Data Scientist']

In [40]:
loca = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
for data in loca:
    lo = data.text
    j_loc.append(lo)
j_loc[0:10]

<ipython-input-40-1e45ea513164>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loca = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')

['Gurgaon/Gurugram',
 'Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Nodia\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Remote',
 'Gurgaon/Gurugram, Chennai',
 'Noida, Ghaziabad, Delhi / NCR',
 'New Delhi',
 'Delhi']

In [41]:
comp = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
for data in comp:
    co = data.text
    c_name.append(co)
c_name[0:10]

<ipython-input-41-a4fef60503de>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')

['RB HOLDINGS PRIVATE LIMITED',
 'LG Electronics India Pvt. Ltd.',
 'Navikenz India Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Newgen Software Technologies',
 'Tidyquant (OPC) Private Limited',
 'Teleperformance',
 'GABA Consultancy services',
 'The Boston Consulting Group (India) Pvt Limited',
 'iNICU']

In [42]:
ex = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')
for data in ex:
    exp = data.text
    exp_req.append(exp)
exp_req[0:10]

<ipython-input-42-01f81b2e67e4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ex = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')

['2-3 Yrs',
 '0-2 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '0-0 Yrs',
 '2-5 Yrs',
 '1-5 Yrs']

In [43]:
df = pd.DataFrame({'Job_Title' : j_title[0:10],'Job_Location' : j_loc[0:10], 'Company_Name' : c_name[0:10],'Experience' : exp_req[0:10]})
df

,Job_Title,Job_Location,Company_Name,Experience
0,Ethics and Compliance Business Data Scientist,Gurgaon/Gurugram,RB HOLDINGS PRIVATE LIMITED,2-3 Yrs
1,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
2,Data Scientist,"Noida, Nodia\n(WFH during Covid)",Navikenz India Pvt Ltd,2-7 Yrs
3,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
4,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5 Yrs
5,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
7,Data Analyst / Data Scientist / Business Analy...,"Noida, Ghaziabad, Delhi / NCR",GABA Consultancy services,0-0 Yrs
8,Data Scientist,New Delhi,The Boston Consulting Group (India) Pvt Limited,2-5 Yrs
9,Senior Data Scientist,Delhi,iNICU,1-5 Yrs

In [ ]:
# 4) programme to scrape 100 sunglasess on Flipkart a) Brand b) Product description c) Price d) offers

In [44]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-44-2e5b3dc4a2f5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [46]:
driver.get('https://www.flipkart.com/')

In [47]:
brand = []
pds =[]
price =[]
offers = []

In [49]:
br = driver.find_elements_by_xpath('//div[@class = "_2WkVRV"]')
for data in br:
    br1 = data.text
    brand.append(br1)
brand

<ipython-input-49-9b50c646ba7e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  br = driver.find_elements_by_xpath('//div[@class = "_2WkVRV"]')

['SRPM',
 'Elligator',
 'New Specs',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'New Specs',
 'Singco India',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'SUNBEE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Rich Club',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'Rich Club',
 'kingsunglasses',
 'Fastrack',
 'PHENOMENAL',
 'hipe',
 'ROYAL SON',
 'Rich Club',
 'PIRASO',
 'PIRASO',
 'agera',
 'ROZZETTA CRAFT',
 'Singco India',
 'kingsunglasses',
 'ROYAL SON',
 'DEIXELS',
 'Lee Topper',
 'Fastrack',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SRPM',
 'Elligator',
 'New Specs',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'New Specs',
 'Singco India',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'SUNBEE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Rich Club',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'Rich Club',
 'kingsunglasses',
 'Fastrack',
 'PHENOMENAL',
 'hipe',
 'ROYAL SON',
 'Rich Club',
 'PIRASO',
 'PIRASO',
 'agera',
 'ROZZETTA CRAFT',
 'Singco India',
 'kingsunglasses',
 'ROYAL SON',
 'DEIXELS',
 'Lee Topper',
 'Fastrack',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT']

In [50]:
pd1 = driver.find_elements_by_xpath('//a[@class = "IRpwTa"]')
for data in pd1:
    p1 = data.text
    pds.append(p1)
pds

<ipython-input-50-ccfaac3abd7b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pd1 = driver.find_elements_by_xpath('//a[@class = "IRpwTa"]')

['UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Polarized Aviator Sunglasses (32)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)']

In [55]:
pr = driver.find_elements_by_xpath('//div[@class = "_30jeq3"]')
for data in pr:
    pri = data.text
    price.append(pri)
price

<ipython-input-55-91dac22e5f44>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pr = driver.find_elements_by_xpath('//div[@class = "_30jeq3"]')

['₹188',
 '₹248',
 '₹259',
 '₹200',
 '₹187',
 '₹699',
 '₹189',
 '₹259',
 '₹194',
 '₹359',
 '₹170',
 '₹274',
 '₹271',
 '₹187',
 '₹383',
 '₹179',
 '₹474',
 '₹163',
 '₹187',
 '₹181',
 '₹175',
 '₹187',
 '₹599',
 '₹319',
 '₹287',
 '₹449',
 '₹383',
 '₹164',
 '₹299',
 '₹196',
 '₹349',
 '₹203',
 '₹192',
 '₹359',
 '₹202',
 '₹276',
 '₹649',
 '₹211',
 '₹639',
 '₹426',
 '₹188',
 '₹248',
 '₹259',
 '₹200',
 '₹187',
 '₹699',
 '₹189',
 '₹259',
 '₹194',
 '₹359',
 '₹170',
 '₹274',
 '₹271',
 '₹187',
 '₹383',
 '₹179',
 '₹474',
 '₹163',
 '₹187',
 '₹181',
 '₹175',
 '₹187',
 '₹599',
 '₹319',
 '₹287',
 '₹449',
 '₹383',
 '₹164',
 '₹299',
 '₹196',
 '₹349',
 '₹203',
 '₹192',
 '₹359',
 '₹202',
 '₹276',
 '₹649',
 '₹211',
 '₹639',
 '₹426',
 '₹188',
 '₹248',
 '₹259',
 '₹200',
 '₹187',
 '₹699',
 '₹189',
 '₹259',
 '₹194',
 '₹359',
 '₹170',
 '₹274',
 '₹271',
 '₹187',
 '₹383',
 '₹179',
 '₹474',
 '₹163',
 '₹187',
 '₹181',
 '₹175',
 '₹187',
 '₹599',
 '₹319',
 '₹287',
 '₹449',
 '₹383',
 '₹164',
 '₹299',
 '₹196',
 '₹349',
 '₹203',
 '₹192',
 '₹359',
 '₹202',
 '₹276',
 '₹649',
 '₹211',
 '₹639',
 '₹426']

In [54]:
off = driver.find_elements_by_xpath('//div[@class = "_3Ay6Sb"]')
for data in off:
    offe = data.text
    offers.append(offe)
offers

<ipython-input-54-5aeb90246348>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  off = driver.find_elements_by_xpath('//div[@class = "_3Ay6Sb"]')

['85% off',
 '90% off',
 '87% off',
 '87% off',
 '88% off',
 '22% off',
 '82% off',
 '81% off',
 '87% off',
 '76% off',
 '89% off',
 '86% off',
 '84% off',
 '88% off',
 '80% off',
 '88% off',
 '78% off',
 '67% off',
 '88% off',
 '81% off',
 '64% off',
 '84% off',
 '25% off',
 '84% off',
 '84% off',
 '70% off',
 '61% off',
 '89% off',
 '88% off',
 '82% off',
 '82% off',
 '70% off',
 '82% off',
 '76% off',
 '83% off',
 '88% off',
 '27% off',
 '83% off',
 '20% off',
 '84% off',
 '85% off',
 '90% off',
 '87% off',
 '87% off',
 '88% off',
 '22% off',
 '82% off',
 '81% off',
 '87% off',
 '76% off',
 '89% off',
 '86% off',
 '84% off',
 '88% off',
 '80% off',
 '88% off',
 '78% off',
 '67% off',
 '88% off',
 '81% off',
 '64% off',
 '84% off',
 '25% off',
 '84% off',
 '84% off',
 '70% off',
 '61% off',
 '89% off',
 '88% off',
 '82% off',
 '82% off',
 '70% off',
 '82% off',
 '76% off',
 '83% off',
 '88% off',
 '27% off',
 '83% off',
 '20% off',
 '84% off']

In [56]:
fk = {'Brand_Name' : brand , 'Product_Description' : pds , 'Product_Price' : price , 'Offers' : offers}
df = pd.DataFrame.from_dict(fk,orient = 'index')
df = df.transpose()
df.head()

,Brand_Name,Product_Description,Product_Price,Offers
0,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
1,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
2,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259,87% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹187,88% off

In [ ]:
# 5) programme to scrape 100 reviews data from Flipkart for Iphone11

In [57]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-57-2e5b3dc4a2f5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [58]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [59]:
rating = []
r_s = []
f_r = []

In [64]:
ratings = driver.find_elements_by_xpath('//div[@class = "_3LWZlK _1BLPMq"]')
for data in ratings:
    rate = data.text
    rating.append(rate)
rating

<ipython-input-64-9f98d0d97ddb>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings = driver.find_elements_by_xpath('//div[@class = "_3LWZlK _1BLPMq"]')

['5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5']

In [66]:
rev = driver.find_elements_by_xpath('//p[@class = "_2-N8zT"]')
for data in rev:
    re = data.text
    r_s.append(re)
r_s

<ipython-input-66-70301cf49130>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rev = driver.find_elements_by_xpath('//p[@class = "_2-N8zT"]')

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

In [67]:
full = driver.find_elements_by_xpath('//div[@class = "t-ZTKy"]')
for data in full:
    full_r = data.text
    f_r.append(full_r)
f_r

<ipython-input-67-b59cf5430280>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full = driver.find_elements_by_xpath('//div[@class = "t-ZTKy"]')

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow']

In [ ]:
# 6) programme to scrape 100 sneakers details from Flipkart.com a) Brand b) PD c) Price d) offer

In [70]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-70-2e5b3dc4a2f5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [71]:
driver.get('https://www.flipkart.com/')

In [72]:
bran1 = []
prod = []
pr1 = []
off1 = []

In [74]:
s_n = driver.find_elements_by_xpath('//div[@class = "_2WkVRV"]')
for data in s_n:
    s_n1 = data.text
    bran1.append(s_n1)
bran1

<ipython-input-74-de1674ae883a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  s_n = driver.find_elements_by_xpath('//div[@class = "_2WkVRV"]')

['RED TAPE',
 'PUMA',
 'URBANBOX',
 'BRUTON',
 'Shoes Bank',
 'T-ROCK',
 'BIRDE',
 'RED TAPE',
 'BIRDE',
 'Magnolia',
 'Chevit',
 'Maxotian',
 'Clymb',
 'Numenzo',
 'Edoeviv',
 'RED TAPE',
 'Kraasa',
 'Numenzo',
 'Rzisbo',
 'RED TAPE',
 'BRUTON',
 'ganpati traders',
 'RapidBox',
 'RED TAPE',
 'BIRDE',
 'SCATCHITE',
 'Trendmode',
 'RED TAPE',
 'Labbin',
 'BIRDE',
 'Chevit',
 'RED TAPE',
 'BIRDE',
 'Robbie jones',
 'D-SNEAKERZ',
 'RED TAPE',
 'ASTEROID',
 'PACIFIER',
 'Extoes',
 'RED TAPE',
 'RED TAPE',
 'PUMA',
 'URBANBOX',
 'BRUTON',
 'Shoes Bank',
 'T-ROCK',
 'BIRDE',
 'RED TAPE',
 'BIRDE',
 'Magnolia',
 'Chevit',
 'Maxotian',
 'Clymb',
 'Numenzo',
 'Edoeviv',
 'RED TAPE',
 'Kraasa',
 'Numenzo',
 'Rzisbo',
 'RED TAPE',
 'BRUTON',
 'ganpati traders',
 'RapidBox',
 'RED TAPE',
 'BIRDE',
 'SCATCHITE',
 'Trendmode',
 'RED TAPE',
 'Labbin',
 'BIRDE',
 'Chevit',
 'RED TAPE',
 'BIRDE',
 'Robbie jones',
 'D-SNEAKERZ',
 'RED TAPE',
 'ASTEROID',
 'PACIFIER',
 'Extoes',
 'RED TAPE']

In [76]:
s_n_d = driver.find_elements_by_xpath('//a[@class = "IRpwTa"]')
for data in s_n_d:
    s_n_d1 = data.text
    prod.append(s_n_d1)
prod

<ipython-input-76-e993e09ef9f2>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  s_n_d = driver.find_elements_by_xpath('//a[@class = "IRpwTa"]')

['Classic Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'White Sneaker For Men Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Shoes Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Classic Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Sneakers For Men',
 'Classic Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'White Sneaker For Men Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Shoes Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Classic Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Sneakers For Men']

In [78]:
prc = driver.find_elements_by_xpath('//div[@class = "_30jeq3"]')
for data in prc:
    prc1 = data.text
    pr1.append(prc1)
pr1

<ipython-input-78-a25449e557fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prc = driver.find_elements_by_xpath('//div[@class = "_30jeq3"]')

['₹1,398',
 '₹1,749',
 '₹220',
 '₹339',
 '₹331',
 '₹379',
 '₹299',
 '₹1,048',
 '₹422',
 '₹398',
 '₹536',
 '₹569',
 '₹649',
 '₹479',
 '₹499',
 '₹1,373',
 '₹444',
 '₹499',
 '₹549',
 '₹1,174',
 '₹299',
 '₹183',
 '₹680',
 '₹1,049',
 '₹423',
 '₹398',
 '₹369',
 '₹1,373',
 '₹474',
 '₹311',
 '₹606',
 '₹1,423',
 '₹423',
 '₹451',
 '₹348',
 '₹1,398',
 '₹474',
 '₹499',
 '₹898',
 '₹1,373',
 '₹1,398',
 '₹1,749',
 '₹220',
 '₹339',
 '₹331',
 '₹379',
 '₹299',
 '₹1,048',
 '₹422',
 '₹398',
 '₹536',
 '₹569',
 '₹649',
 '₹479',
 '₹499',
 '₹1,373',
 '₹444',
 '₹499',
 '₹549',
 '₹1,174',
 '₹299',
 '₹183',
 '₹680',
 '₹1,049',
 '₹423',
 '₹398',
 '₹369',
 '₹1,373',
 '₹474',
 '₹311',
 '₹606',
 '₹1,423',
 '₹423',
 '₹451',
 '₹348',
 '₹1,398',
 '₹474',
 '₹499',
 '₹898',
 '₹1,373']

In [80]:
of1 = driver.find_elements_by_xpath('//div[@class = "_3Ay6Sb"]')
for data in of1:
    offe1 = data.text
    off1.append(offe1)
off1

<ipython-input-80-1e6d4cba7d4b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  of1 = driver.find_elements_by_xpath('//div[@class = "_3Ay6Sb"]')

['75% off',
 '50% off',
 '77% off',
 '73% off',
 '66% off',
 '62% off',
 '40% off',
 '75% off',
 '57% off',
 '60% off',
 '66% off',
 '52% off',
 '56% off',
 '63% off',
 '37% off',
 '75% off',
 '55% off',
 '75% off',
 '45% off',
 '75% off',
 '76% off',
 '63% off',
 '31% off',
 '77% off',
 '57% off',
 '60% off',
 '63% off',
 '75% off',
 '52% off',
 '68% off',
 '69% off',
 '75% off',
 '57% off',
 '54% off',
 '47% off',
 '75% off',
 '76% off',
 '57% off',
 '40% off',
 '75% off',
 '75% off',
 '50% off',
 '77% off',
 '73% off',
 '66% off',
 '62% off',
 '40% off',
 '75% off',
 '57% off',
 '60% off',
 '66% off',
 '52% off',
 '56% off',
 '63% off',
 '37% off',
 '75% off',
 '55% off',
 '75% off',
 '45% off',
 '75% off',
 '76% off',
 '63% off',
 '31% off',
 '77% off',
 '57% off',
 '60% off',
 '63% off',
 '75% off',
 '52% off',
 '68% off',
 '69% off',
 '75% off',
 '57% off',
 '54% off',
 '47% off',
 '75% off',
 '76% off',
 '57% off',
 '40% off',
 '75% off']

In [81]:
sneakers = {'Sneaker_Brand' : bran1 , 'Sneaker_desc' : prod, 'Sneaker_price' : pr1 , 'offers' : off1}
df = pd.DataFrame.from_dict(sneakers,orient = 'index')
df = df.transpose()
df.head()

,Sneaker_Brand,Sneaker_desc,Sneaker_price,offers
0,RED TAPE,Classic Sneakers For Men,"₹1,398",75% off
1,PUMA,Puma Smash v2 Buck Sneakers For Men,"₹1,749",50% off
2,URBANBOX,Modern Trendy Sneakers Shoes Sneakers For Men,₹220,77% off
3,BRUTON,White Sneaker For Men's/Boy's Sneakers For Men,₹339,73% off
4,Shoes Bank,Synthetic Leather Casual Partywear Wedding Sne...,₹331,66% off

In [ ]:
# 7) programme to scrape 100 shoes details from Myntra.com

In [82]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-82-2e5b3dc4a2f5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [83]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [84]:
brr = []
sd = []
sp = []

In [86]:
br1 = driver.find_elements_by_xpath('//h3[@class = "product-brand"]')
for data in br1:
    br2 = data.text
    brr.append(br2)
brr

<ipython-input-86-240a7f519554>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  br1 = driver.find_elements_by_xpath('//h3[@class = "product-brand"]')

['ASICS',
 'Puma',
 'Puma',
 'Hush Puppies',
 'ADIDAS',
 'Hush Puppies',
 'Puma',
 'FORCLAZ By Decathlon',
 'ASICS',
 'Puma',
 'Xtep',
 'Saint G',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'ASICS',
 'Xtep',
 'Hush Puppies',
 'ASICS',
 'Hush Puppies',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'ASICS',
 'Bugatti',
 'Ruosh',
 'RARE RABBIT',
 'UNDER ARMOUR',
 'Saint G',
 'Cole Haan',
 'Cole Haan',
 'Saint G',
 'DAVINCHI',
 'DAVINCHI',
 'Bugatti',
 'Cole Haan',
 'Saint G',
 'J.FONTINI',
 'ASICS',
 'Hush Puppies',
 'RARE RABBIT',
 'Bugatti',
 'H&M',
 'Saint G',
 'Geox',
 'DAVINCHI',
 'Hush Puppies',
 'Ruosh',
 'MANGO',
 'Clarks',
 'ASICS',
 'Puma',
 'Puma',
 'Hush Puppies',
 'ADIDAS',
 'Hush Puppies',
 'Puma',
 'FORCLAZ By Decathlon',
 'ASICS',
 'Puma',
 'Xtep',
 'Saint G',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'ASICS',
 'Xtep',
 'Hush Puppies',
 'ASICS',
 'Hush Puppies',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'ASICS',
 'Bugatti',
 'Ruosh',
 'RARE RABBIT',
 'UNDER ARMOUR',
 'Saint G',
 'Cole Haan',
 'Cole Haan',
 'Saint G',
 'DAVINCHI',
 'DAVINCHI',
 'Bugatti',
 'Cole Haan',
 'Saint G',
 'J.FONTINI',
 'ASICS',
 'Hush Puppies',
 'RARE RABBIT',
 'Bugatti',
 'H&M',
 'Saint G',
 'Geox',
 'DAVINCHI',
 'Hush Puppies',
 'Ruosh',
 'MANGO',
 'Clarks']

In [87]:
sd1 = driver.find_elements_by_xpath('//h4[@class = "product-product"]')
for data in sd1:
    sd2 = data.text
    sd.append(sd2)
sd

<ipython-input-87-405a40b5991b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sd1 = driver.find_elements_by_xpath('//h4[@class = "product-product"]')

['Men GEL-KAYANO 27 Shoes',
 'Men Deviate Nitro Running Shoe',
 'Men Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Women Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Magnify Nitro Running',
 'TREKKING 100 Boots',
 'Men Black Running Sports Shoes',
 'Women Eternity NITRO Shoes',
 'Men Running Shoes',
 'Men Mid-Top Chelsea Boots',
 'Men Formal Derbys',
 'Women Charged Vantage ClrShft',
 'Men Leather Loafers',
 'Men Running Shoes',
 'Men Running Shoes',
 'Men Solid Leather Formal Derbys',
 'Men GT-800 Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Women Magnify Nitro Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Formal Slip-Ons',
 'Men Colourblocked PU Sneakers',
 'Men Sneakers',
 'Men Leather Slip-On Shoes',
 'Men Leather Flat Boots',
 'Women Charged Impulse Shft',
 'Women Leather Heeled Boots',
 'Men Solid Sneakers',
 'Men Wingtip Oxford Sneakers',
 'Suede Block Heeled Boots',
 'Ustraa black',
 'Men Textured Leather Formal Oxfords',
 'Leather Block Heeled Boots',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Women Leather Heeled Boots',
 'Men Textured Leather Loafers',
 'Skycourt Sneakers',
 'Men Leather Formal Derbys',
 'Men Leather Formal Slip-Ons',
 'Men Leather Flat Boots',
 'Leather Chelsea Boots',
 'Leather Boots with Buckles',
 'Men Leather Formal Derbys',
 'Men Textured Formal Loafers',
 'Men Solid Formal Leather Slip-Ons',
 'Men Solid Leather Formal Monks',
 'Women Mid Top Chunky Flat Boot',
 'Men Solid Leather Formal Loafers']

In [89]:
sp1 = driver.find_elements_by_xpath('//span[@class = "product-discountedPrice"]')
for data in sp1:
    sp2 = data.text
    sp.append(sp2)
sp

<ipython-input-89-ba7a978feee2>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sp1 = driver.find_elements_by_xpath('//span[@class = "product-discountedPrice"]')

['Rs. 10499',
 'Rs. 8249',
 'Rs. 6499',
 'Rs. 8099',
 'Rs. 6299',
 'Rs. 7799',
 'Rs. 6499',
 'Rs. 9810',
 'Rs. 8999',
 'Rs. 6293',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8799',
 'Rs. 7999',
 'Rs. 10875',
 'Rs. 11899',
 'Rs. 10399',
 'Rs. 10350',
 'Rs. 8399',
 'Rs. 10875',
 'Rs. 6299',
 'Rs. 6499',
 'Rs. 8500',
 'Rs. 8999',
 'Rs. 7191',
 'Rs. 10499',
 'Rs. 8249',
 'Rs. 6499',
 'Rs. 8099',
 'Rs. 6299',
 'Rs. 7799',
 'Rs. 6499',
 'Rs. 9810',
 'Rs. 8999',
 'Rs. 6293',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8799',
 'Rs. 7999',
 'Rs. 10875',
 'Rs. 11899',
 'Rs. 10399',
 'Rs. 10350',
 'Rs. 8399',
 'Rs. 10875',
 'Rs. 6299',
 'Rs. 6499',
 'Rs. 8500',
 'Rs. 8999',
 'Rs. 7191']

In [90]:
myntra = {'Shoes_Brand' : brr , 'Shoes_Desc' : sd , 'Shoes_price' : sp}
df = pd.DataFrame.from_dict(myntra,orient = 'index')
df = df.transpose()
df.head()

    Shoes_Brand                         Shoes_Desc Shoes_price
0         ASICS            Men GEL-KAYANO 27 Shoes   Rs. 10499
1          Puma     Men Deviate Nitro Running Shoe    Rs. 8249
2          Puma                  Men Running Shoes    Rs. 6499
3  Hush Puppies  Men Solid Leather Formal Slip-Ons    Rs. 8099
4        ADIDAS                Women Running Shoes    Rs. 6299

In [ ]:
# 8) programme to scrape Laptop data from Amazon.in

In [91]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-91-2e5b3dc4a2f5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [92]:
url = 'https://www.amazon.in/'
driver.get(url)

In [ ]:
la = driver.find_elements_by_xpath('//div[@class = "a-checkbox a-checkbox-fancy s-navigation-checkbox aok-float-left"]')
la.send_keys('Intel core i7')
la = la = driver.find_elements_by_xpath('//div[@class = "a-checkbox a-checkbox-fancy s-navigation-checkbox aok-float-left"]')
la.send_keys('Intel core i9')

In [93]:
tit = []
pric1 = []

In [94]:
tit1 = driver.find_elements_by_xpath('//a[@class = "a-link-normal a-text-normal"]')
for data in tit1:
    tit2 = data.text
    tit.append(tit2)
tit[0:10]

<ipython-input-94-b4790408fc68>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  tit1 = driver.find_elements_by_xpath('//a[@class = "a-link-normal a-text-normal"]')

['HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU',
 'Acer Swift 5 Intel i7 11th Gen 14 inches Ultra Thin and Light Business Laptop (16GB RAM/1TB SSD/Windows 10 Home/Iris Xe Graphics 5 Full HD IPS Display with Touchscreen, Mist Green, 1.05 kg) SF514-55TA',
 'HP Pavilion Gaming(2021) 10th Gen Intel Core i7 15.6-inch(39.6 cm) FHD IPS 144Hz Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/NVIDIA GTX 1650Ti 4GB/Win 10/MS Office/Shadow Black), 15-DK1511TX',
 'Lenovo ThinkBook Yoga 14s Intel Core i7 11th Gen 14"(35.56cm) FHD IPS 300 nits 100% sRGB Dolby Vision 2-in-1 Touchscreen Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Active Pen/1.50 kg) 20WEA01EIH',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD IPS 300 nits Antiglare 100% sRGB Thin & Light Laptop(16GB/1TB HDD+128GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg) 20VEA0HBIH',
 'Lenovo Legion 5 11th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Gaming Laptop (16GB/512GB SSD/NVIDIA RTX 3050 4GB/120Hz Refresh Rate/Windows 10/MS Office/Backlit Keyboard/Phantom Blue/2.4Kg), 82JK007WIN',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU)',
 'ASUS ZenBook 14e (2021), 14.0-inch (35.56 cms) FHD Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/1TB SSD/Office 2019/Windows 10/2GB NVIDIA MX450 Graphics/Grey/1.29 kg), UX435EG-KK701TS',
 'MSI GF75 Intel Core i7-10750H, 17.3 inches FHD IPS-Level 144Hz Panel Thin Gaming Laptop (8GB/512GB NVMe SSD/Windows 10 Home/NVIDIA GTX1650 4GB GDDR6/Black/2.2Kg), 10SC-087IN (9S7-17F612-087)',
 'Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7-11370H 15.6" (39.63cm) FHD IPS Gaming Laptop (8GB/512GB SSD/Windows 10/NVIDIA RTX 3050 4GB/120Hz Refresh Display/Shadow Black/2.25Kg), 82K1004EIN']

In [95]:
pri1 = driver.find_elements_by_xpath('//span[@class = "a-price-whole"]')
for data in pri1:
    pri2 = data.text
    pric1.append(pri2)
pric1[0:10]

<ipython-input-95-d9aa7315fbc9>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pri1 = driver.find_elements_by_xpath('//span[@class = "a-price-whole"]')

['87,490',
 '91,990',
 '86,990',
 '89,990',
 '85,990',
 '1,00,990',
 '84,990',
 '1,28,890',
 '73,990',
 '82,990']

In [96]:
df = pd.DataFrame({'Product_title' : tit[0:10], 'Product_Price' : pric1[0:10]})
df

                                       Product_title Product_Price
0  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...        87,490
1  Acer Swift 5 Intel i7 11th Gen 14 inches Ultra...        91,990
2  HP Pavilion Gaming(2021) 10th Gen Intel Core i...        86,990
3  Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...        89,990
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....        85,990
5  Lenovo Legion 5 11th Gen Intel Core i7 15.6"(3...      1,00,990
6  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...        84,990
7  ASUS ZenBook 14e (2021), 14.0-inch (35.56 cms)...      1,28,890
8  MSI GF75 Intel Core i7-10750H, 17.3 inches FHD...        73,990
9  Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7...        82,990

In [ ]:
# 9)programme to scrape data for 10 Data scientist jobs from ambitious box

In [97]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-97-2e5b3dc4a2f5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [98]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [99]:
c_name = []
post = []
c_rating = []

In [100]:
c1 = driver.find_elements_by_xpath('//p[@class = "company body-medium"]')
for data in c1:
    c2 = data.text
    c_name.append(c2)
c_name

<ipython-input-100-b9387cc9c5f9>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  c1 = driver.find_elements_by_xpath('//p[@class = "company body-medium"]')

['LG Electronics India Pvt. Ltd.',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'NTT Data Business Solutions Pvt Ltd',
 'GENPACT India Private Limited',
 'Paytm',
 'GI Group',
 'GI Group',
 'GI Group',
 'Steria India Ltd']

In [101]:
p_d = driver.find_elements_by_xpath('//span[@class = "body-small-l"]')
for data in p_d:
    p_d1 = data.text
    post.append(p_d1)
post[0:20:2]

<ipython-input-101-eeb47d675dc4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  p_d = driver.find_elements_by_xpath('//span[@class = "body-small-l"]')

['10d ago',
 '17d ago',
 '17d ago',
 '18d ago',
 '19d ago',
 '4d ago',
 '4d ago',
 '4d ago',
 '4d ago',
 '1mon ago']

In [102]:
c_r = driver.find_elements_by_xpath('//span[@class = "body-small"]')
for data in c_r:
    cr1 = data.text
    c_rating.append(cr1)
c_rating

<ipython-input-102-fa1ae213483d>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  c_r = driver.find_elements_by_xpath('//span[@class = "body-small"]')

['4.1', '4.0', '4.0', '3.8', '4.0', '3.7', '4.0', '4.0', '4.0', '4.1']

In [103]:
df = pd.DataFrame({'Company_Name' : c_name , 'Days_ago' : post[0:20:2] , 'Company_rating' : c_rating})
df

                          Company_Name  Days_ago Company_rating
0       LG Electronics India Pvt. Ltd.   10d ago            4.1
1        GENPACT India Private Limited   17d ago            4.0
2        GENPACT India Private Limited   17d ago            4.0
3  NTT Data Business Solutions Pvt Ltd   18d ago            3.8
4        GENPACT India Private Limited   19d ago            4.0
5                                Paytm    4d ago            3.7
6                             GI Group    4d ago            4.0
7                             GI Group    4d ago            4.0
8                             GI Group    4d ago            4.0
9                     Steria India Ltd  1mon ago            4.1

In [ ]:
# 10) programme to scrape salary of Data scientist designation from ambitionbox.com

In [104]:
driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-104-2e5b3dc4a2f5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\adil2\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [105]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [106]:
c_na = []
total_s = []
Aver = []
min_s = []
max_s = []
exp_r = []

In [107]:
c_na1 = driver.find_elements_by_xpath('//div[@class ="name"]')
for data in c_na1:
    c_na2 = data.text.replace('\n','')
    c_na.append(c_na2)
c_na

<ipython-input-107-92e3c12c427d>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  c_na1 = driver.find_elements_by_xpath('//div[@class ="name"]')

['Ab Inbevbased on 20 salaries',
 'ZSbased on 12 salaries',
 'Optumbased on 23 salaries',
 'Fractal Analyticsbased on 66 salaries',
 'UnitedHealthbased on 47 salaries',
 'Tiger Analyticsbased on 26 salaries',
 'Verizonbased on 14 salaries',
 'Ganit Business Solutionsbased on 13 salaries',
 'Ericssonbased on 42 salaries',
 'Deloittebased on 49 salaries']

In [108]:
t_s = driver.find_elements_by_xpath('//div[@class = "name"]')
for data in t_s:
    ts1 = data.text.replace('\n','')
    total_s.append(ts1)
total_s

<ipython-input-108-5e6749439d8f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  t_s = driver.find_elements_by_xpath('//div[@class = "name"]')

['Ab Inbevbased on 20 salaries',
 'ZSbased on 12 salaries',
 'Optumbased on 23 salaries',
 'Fractal Analyticsbased on 66 salaries',
 'UnitedHealthbased on 47 salaries',
 'Tiger Analyticsbased on 26 salaries',
 'Verizonbased on 14 salaries',
 'Ganit Business Solutionsbased on 13 salaries',
 'Ericssonbased on 42 salaries',
 'Deloittebased on 49 salaries']

In [109]:
av1 = driver.find_elements_by_xpath('//div[@class = "average-indicator-wrapper"]')
for data in av1:
    av2 = data.text
    Aver.append(av2)
Aver

<ipython-input-109-952edacc2e3b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  av1 = driver.find_elements_by_xpath('//div[@class = "average-indicator-wrapper"]')

['₹ 19.0L',
 '₹ 15.3L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.7L',
 '₹ 11.2L']

In [110]:
mi = driver.find_elements_by_xpath('//div[@class = "value body-medium"]')
for data in mi:
    mi1 = data.text
    min_s.append(mi1)
min_s[0:10]

<ipython-input-110-07d815e19a2b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  mi = driver.find_elements_by_xpath('//div[@class = "value body-medium"]')

['₹ 15.0L',
 '₹ 23.0L',
 '₹ 9.8L',
 '₹ 19.5L',
 '₹ 11.0L',
 '₹ 21.3L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 7.2L',
 '₹ 20.5L']

In [111]:
ma = driver.find_elements_by_xpath('//div[@class = "value body-medium"]')
for data in ma:
    ma1 = data.text
    max_s.append(ma1)
max_s[0:10]

<ipython-input-111-47c0f7f6da27>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ma = driver.find_elements_by_xpath('//div[@class = "value body-medium"]')

['₹ 15.0L',
 '₹ 23.0L',
 '₹ 9.8L',
 '₹ 19.5L',
 '₹ 11.0L',
 '₹ 21.3L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 7.2L',
 '₹ 20.5L']

In [112]:
ex1 = driver.find_elements_by_xpath('//div[@class = "salaries sbold-list-header"]')
for data in ex1:
    ex2 = data.text.replace('\n','')
    exp_r.append(ex2)
exp_r

<ipython-input-112-eb9fb839f962>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ex1 = driver.find_elements_by_xpath('//div[@class = "salaries sbold-list-header"]')

['Data Scientist . 3-4 yrs exp',
 'Data Scientist . 2 yrs exp',
 'Data Scientist . 3-4 yrs exp',
 'Data Scientist . 2-4 yrs exp',
 'Data Scientist . 2-4 yrs exp',
 'Data Scientist . 3-4 yrs exp',
 'Data Scientist . 4 yrs exp',
 'Data Scientist . 4 yrs exp',
 'Data Scientist . 3-4 yrs exp',
 'Data Scientist . 2-4 yrs exp']

In [113]:
df = pd.DataFrame({'Company_Name': c_na , 'Total_salary_record' : total_s , 'Average_salary' : Aver, 'Minimum_salary' : min_s[0:10], 'Maximum_salary' : max_s[0:10] , 'Experience_Required' : exp_r })
df

,Company_Name,Total_salary_record,Average_salary,Minimum_salary,Maximum_salary,Experience_Required
0,Ab Inbevbased on 20 salaries,Ab Inbevbased on 20 salaries,₹ 19.0L,₹ 15.0L,₹ 15.0L,Data Scientist . 3-4 yrs exp
1,ZSbased on 12 salaries,ZSbased on 12 salaries,₹ 15.3L,₹ 23.0L,₹ 23.0L,Data Scientist . 2 yrs exp
2,Optumbased on 23 salaries,Optumbased on 23 salaries,₹ 15.0L,₹ 9.8L,₹ 9.8L,Data Scientist . 3-4 yrs exp
3,Fractal Analyticsbased on 66 salaries,Fractal Analyticsbased on 66 salaries,₹ 15.0L,₹ 19.5L,₹ 19.5L,Data Scientist . 2-4 yrs exp
4,UnitedHealthbased on 47 salaries,UnitedHealthbased on 47 salaries,₹ 13.5L,₹ 11.0L,₹ 11.0L,Data Scientist . 2-4 yrs exp
5,Tiger Analyticsbased on 26 salaries,Tiger Analyticsbased on 26 salaries,₹ 13.5L,₹ 21.3L,₹ 21.3L,Data Scientist . 3-4 yrs exp
6,Verizonbased on 14 salaries,Verizonbased on 14 salaries,₹ 12.7L,₹ 9.5L,₹ 9.5L,Data Scientist . 4 yrs exp
7,Ganit Business Solutionsbased on 13 salaries,Ganit Business Solutionsbased on 13 salaries,₹ 12.4L,₹ 22.0L,₹ 22.0L,Data Scientist . 4 yrs exp
8,Ericssonbased on 42 salaries,Ericssonbased on 42 salaries,₹ 11.7L,₹ 7.2L,₹ 7.2L,Data Scientist . 3-4 yrs exp
9,Deloittebased on 49 salaries,Deloittebased on 49 salaries,₹ 11.2L,₹ 20.5L,₹ 20.5L,Data Scientist . 2-4 yrs exp